* {
    color: white;
}

html {
    height: 100%;
    display: block;
    font-family: sans-serif;
}

body{
    background-color: gray;
    margin: 0;
}

.nav-bar {
    position: fixed;
    display: block;
    clear: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.53) ;
    text-align: left;
    top: 0%;    
}

li , a {
    text-emphasis-style: none;
    display: inline;
    width: 5px;
    height: auto;
    margin: 5px;
    text-decoration: none;
    padding: 15px 40px 15 px;
}

.bg-image, img {
    position: inherit;
    border-radius: 20%;
    float: left;
    image-rendering: optimizeQuality;
    background-color: rgb(40, 36, 36);
    top: 30px;


}
footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.49);
}

footer img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: right;
    margin: 10px;

}

.content {
    position: relative;
    top: 170px;
    height: auto;
    display: block;
    margin: 8;
    margin: 8px;
    padding: 10px;
    width: 75%;
    right: 150px;
}


